.body {
    margin: 5%;
}
.title {
    color: #3f3e3e;
    border-bottom: #3f3e3e 0.5px solid;
}
.text-bold {
    font-weight: bold;
}
.text-gray {
    color: #3f3e3e;
}
.text-white {
    color: #fff;
}
.text-medium {
    font-size: 1.2em;
}
.center {
    text-align: center;
}

.button {
    background-color: rgb(173, 69, 38);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    -webkit-transition: 0.5s;
    background-color: #111;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f3e3e;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    transition: 0.5s;
    background-color: #111;
}
.active {
    /* background-color: #4CAF50; */
    background-color: rgb(173, 69, 38);
}
highlight {
    color: rgb(173, 69, 38);
}

div.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    width: 130px;
    padding: 10px;
    font: 20px;
    background: #333;
    border: 1px solid lightgrey;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
}
#list {
    width: 100%;
    padding: 10px;
}
.item {
    float: left;
    width: 10%;
    border: #3f3e3e 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 1.2em;
    text-align: center;
}
.item:hover {
    transition: 0.5s;
    background-color: rgb(173, 69, 38);
    color: white;
}