.body {
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* general usage ------------------------------------------ */
.title {
    color: #3f3e3e;
    border-bottom: #3f3e3e 0.5px solid;
}
.text-bold {
    font-weight: bold;
}
.text-gray {
    color: #3f3e3e;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}
.text-medium {
    font-size: 1.2em;
}
.center {
    text-align: center;
}
.padding-2p {
    padding: 2%;
}
.padding-5p {
    padding: 5%;
}
.margin-bottom {
    margin-bottom: 10px;
}
.bgcolor-grass {
    background-color: rgba(0, 152, 57, 0.9);
}
.bgcolor-grass-dark {
    background-color: rgba(0, 102, 38, 0.9);
}
.float-left {
    float: left;
}
/* ------------------------------------------ general usage */

/* self-defined element ----------------------------------- */
highlight {
    color: rgb(173, 69, 38);
}

type {
    /* color: rgba(0, 152, 57, 0.9); */
    /* color: rgba(0, 152, 57, 1); */
    /* color: rgba(0, 0, 0, 1); */
    /* color: rgba(231, 96, 60, 0.8); */
    color: white;
}

h4 {
    font-size: 1.2em;
    /* padding: 5px; */
    color: white;
}
bold {
    font-weight: bold;
    font-size: 1.1em;
}
italic {
    font-style: italic;
}
large {
    font-weight: bold;
    font-size: 2em;
}

red {
    color: red;
}
green {
    color: green;
}
blue {
    color: blue;
}
yellow {
    color: yellow;
}
/* ----------------------------------- self-defined element */

/* tab style ---------------------------------------------- */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* ---------------------------------------------- tab style */

/* navbar style ------------------------------------------- */
.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 20;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f3e3e;
}
li {
    float: left;
}
li a, .main-title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    transition: 0.5s;
    background-color: #111;
}
.active {
    /* background-color: #4CAF50; */
    background-color: rgb(173, 69, 38);
}
.button {
    background-color: rgb(173, 69, 38);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    transition: 0.5s;
    background-color: #111;
}
/* ------------------------------------------- navbar style */

/* tooltip style ------------------------------------------ */
div.tooltip, .tool-tip {
    color: white;
    position: absolute;
    text-align: center;
    width: 180px;
    padding: 10px;
    font-family: "Arial";
    font: 20px;
    background: #333;
    border: 1px solid lightgrey;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
}
.tool-tip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -12px;
}
/* ------------------------------------------ tooltip style */

/* general pokemon item style ----------------------------- */
.item {
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    /* border: #3f3e3e 2px solid; */
    /* border-radius: 10px; */
    padding: 10px;
    /* margin: 1.2em; */
    /* margin: -2px; */
    text-align: center;
    color: white;

    /* margin: auto; */
}
.item:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
/* ----------------------------- general pokemon item style */

/* page 1 style ------------------------------------------- */
.db-container {
    background-image: url( "../img/forest.png" );
    background-size: 100% 550px;
    /* filter: blur( 5px ); */
    /* z-index: 1; */
}
.db-dark {
    background-color: rgba(0, 0, 0, 0.5);
}
#pokemons {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;

    /* border: red 2px solid; */
}
#pagenum {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.prev, .next {
    color: white;
}
.prev:hover, .next:hover {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#detail {
    /* width: 100%; */
    height: 700px;
    background: rgba(20, 79, 122, 0.8);
    padding: 5%;
    /* visibility: hidden; */
    display: none;
}
#avatar {
    width: 200px;
    height: 200px;
    border: white 2px solid;
}
#det-name {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
#det {
    text-align: left;
}
#det, #hp-title, #hp-num {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 20px;
    padding-top: 10px;
}
.det-text {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
#hp {
    background-color: rgba(240, 91, 91, 0.8);
    border: white 1px solid;
    border-radius: 10px;
    height: 20px;

    margin-left: 20px;
    margin-right: 20px;
}
#radar {
    width: 100%;
    /* border: red 2px solid; */
}
#attr-list {
    width: 95%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;

    color: white;

    /* border: red 2px solid; */
}
.attr-item {
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba( 255, 255, 255, 0.8); */
    /* border: #3f3e3e 2px solid; */
    /* border-radius: 10px; */
    /* padding: 5px; */
    margin: 10px;
    /* margin: -2px; */
    text-align: center;
}
/* bar chart style  */
/* rect */
.bar {
    fill: rgba(231, 96, 60, 0.8);
}
.bar:hover {
    fill: rgba(231, 96, 60, 0.5);
}
#bar {
    display: none;
    height: 600px;
    background: linear-gradient( rgba(20, 79, 122, 0.8), rgba(0, 0, 0, 0.8) );
    padding-left: 5%;
    padding-right: 5%;
}
/* bar chart axis */
#bar svg g path {
    stroke: white;
}
#bar svg g g line {
    stroke: white;
}
#bar svg g g text {
    fill: white;
    font-weight: bold;
}
#x-label {
    /* display: none; */
    width: 100%;
    text-align: center;
    fill: white;
    font-weight: bold;
}
#bar-list {
    position: absolute;
    z-index: 2;
    display: none;
    border: #3f3e3e 2px solid;
    background-color: rgba( 0, 155, 68, 0.8);
    border-radius: 10px;

    padding: 10px;
}
#bar-list-show {
    min-height: min-content;
    display: none;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    flex-wrap: wrap;
    margin: auto;

    overflow-y: scroll;
}
/* ------------------------------------------- page 1 style */

/* page 2 style ------------------------------------------- */
#vis1 {
    background-image: url( "../img/forest.png" );
    background-size: 100% 650px;
}
#list {
    visibility: hidden;
    width: 98%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;

    /* border-radius: 10px; */

    background: linear-gradient( rgba(20, 79, 122, 0.8), rgba(0, 0, 0, 0.8) );
}
/* ------------------------------------------- page 2 style */

/* page 3 style ------------------------------------------- */
#vis2 {
    height: 700px;
    background: linear-gradient( rgba(20, 79, 122, 0.8), rgba(0, 0, 0, 0.8) );
    border-radius: 20px;
    /* border: red 2px solid; */
}
/* scatter chart axis */
#vis2 svg g g path {
    stroke: white;
    font-weight: bold;
}
#vis2 svg g g line {
    stroke: white;
}
#vis2 svg g g g {
    stroke: white;
}
/* legend style */
.legend {
    padding: 10px;
}
.legend td > * {
    vertical-align : middle;
}
/* ------------------------------------------- page 3 style */

/* the pokeball definition -------------------------------- */
#pokeball-def {
    position: absolute;
    top: 0;

    z-index: -1;
}
/* -------------------------------- the pokeball definition */

/* the close button --------------------------------------- */
.close {
    float: right;
}
.close:hover {
    transition: 0.5s;
    transform: scale( 1.5 );
}
/* --------------------------------------- the close button */

/* footer style ------------------------------------------- */
#footer {
    text-align: center;
    /* border: red 2px solid; */
}
/* ------------------------------------------- footer style */


/* testing */
td {
    /* border: red 2px solid; */
}